@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
	scrollbar-color: theme('colors.primary') theme('colors.primary');
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: theme('colors.transparent');
}

*::-webkit-scrollbar-thumb {
	background-color: theme('colors.primary');
	border: 3px solid var(--primary);
}

@font-face {
	font-family: 'DIN Next LT Arabic';
	src: url('../src/assets/fonts/DIN\ Next\ LT\ Arabic\ Light.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Arabic Bold';
	src: url('../src/assets/fonts/DIN\ Next\ LT\ Arabic\ Bold.ttf')
		format('truetype');
	font-weight: bold;
	font-style: normal;
}

:root {
	font-family: 'DIN Next LT Arabic', 'DIN Next LT Arabic Bold';
	scroll-behavior: smooth;
}

input[type='radio'] {
	accent-color: theme('colors.primary');
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: theme('colors.bodyGray');
	background-image: url('./assets/images/background.svg');
	background-size: cover;
	background-attachment: fixed;
	font: normal normal normal 15px/22px DIN Next LT Arabic;
	letter-spacing: 0px;
	color: theme('colors.normalBlack');
	opacity: 1;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

#red-checkbox {
	accent-color: #c02328;
}
.sticky-container {
	background: transparent;
	/* background-color: white; */
	background-color: #f4f4f4;
	background-image: url(/src/assets/images/background.svg);
	background-size: cover;
	background-attachment: fixed;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
table tr th,
table tr td {
	padding: 22px;
}

table tr th {
	text-align: left;
}
table tr td {
	background: #fff;
}
/* top-left border-radius */
table tr:first-child th:first-child {
	border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
	border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}
